.container-for-all-elements{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    height: 8%;
    background: white;
    box-shadow: 0px 0px 3px 0px gray;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.container-for-panel-and-map{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.container-for-map{
    width: 2000px;
    min-width: 300px;
    height: 100%;
    padding: 0px;
    background: rgba(0,0,0,0.04);
    display: flex;
    align-items: stretch;
    overflow: hidden;
    position: relative;
    user-select: none;

    &__block-map{
        padding: 35px;
        display: block;
        user-select: none;
        margin: auto;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        margin: auto;
    }

    &__block-map:focus{
        background: red;
    }

    &__block-map-edit{
        padding: 35px;
        display: block;
        user-select: none;
        margin: auto;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        pointer-events: none;
    }        
}
.name-section{
    width: 100%;
    height: auto;
    font-family: monospace;
    padding: 5px 0px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.name-section-edit{
    width: 100%;
    height: auto;
    padding: 5px 0px;
    font-family: monospace;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.rows{
    width: 100%;
    min-height: 100px;
    max-height: 10000px;
    display: block;
    z-index: -1;
    user-select: none;
    cursor: pointer;
}

.rows-edit{
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
    cursor: pointer;
}

.block-for-data-row{
    width:auto;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
}

.rowName{
    padding: 15px 20px;
    font-size: 30px;
    color: black;
    cursor:pointer;
}

.row-span{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Ubuntu, sans-serif;
    font-weight: 400;
}

.rowNameEdit{
    padding: 15px 20px;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    color: white;
}

.cheir{
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    background: rgba(0,0,0,0.07);
    margin: 0px 8px;
    color: gray;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.cheir-span{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.cheirEdit{
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0,0,0,0.4);
    border-radius: 50%;
    background: white;
    margin: 0px 8px;
    color: black;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
}

.block-for-items{
    width: 47%;
    height: 100%;
    background: white;
    padding-left: 3%;
}

.block-for-save-or-close{
    width: 47%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
}

.button-save{
    width: auto;
    height: auto;
    font-family: 'Segoe IU', sans-serif;
    color: white;
    line-height: 1;
    font-weight: 100;
    font-size: 17px;
    padding: 10px 16px;
    outline: none;
    border: none;
    background: #0093D7;
    margin: 0px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.fa-times{
    font-size: 30px;
    font-weight: 100;
    color: lightgray;
    outline: none;  
    line-height: 1;
    margin-bottom: 3px;
    cursor: pointer;
}

// PANEL

.panel-for-create-objects{
    width: auto;
    height: 100%;
    display: block;
    padding: 0px 15px;
    box-sizing: border-box;
    background: #45494E;
}

.block-for-title{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;

    &__title-capacity{
        width: 50%;
        height: auto;
        padding: 5px 0px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        font-weight: 100;
        color: lightgray;
        text-align: start;
    }

    &__title-number{
        width: 50%;
        height: auto;
        padding: 5px 0px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        font-weight: 100;
        color: lightgray;
        text-align: end;
    }
}

.panel-for-menu{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 15px 0px;
    padding: 15px 0px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;

    &__tools{
        width: 60px;
    height: 60px; 
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0093D7;
    cursor: pointer;
    }
}

.panel-with-settings-section{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 15px 0px;
    padding: 15px 0px;
    background: white;
    animation: blockOpacity 0.3s;

    &__block-for-input{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input-for-number-object{
        width: 20px;
        display: flex;
        height: auto;
        outline: none;
        border: none;
        border-bottom: 1px solid #0093D7;
        text-align: center;
        color: gray;
        font-size: 16px;
        margin: 5px 0px;
    }


    
    &__select{
        width: 270px;
        height: 40px;
        margin: 10px 0px;
        display: flex;
        background: white;
        margin: 15px 15px;
        margin-top: 20px;
        padding: 0px 10px;
        outline: none;
        border-radius: 5px;
        font: 100 16px Arial;
        color: rgb(70, 70, 70);
        cursor: pointer;
    }

    &__block-for-input-title-rows{
        width: 270px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    &__title-rows{
        width: 50%;
        height: auto;
        color: gray;
        font-family: sans-serif;
        font-weight: 100;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__block-for-input-rows{
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__input-rows{
        width: 20px;
        height: auto;
        border: none;
        border-bottom: 1px solid #0093D7;
        padding: 0px 0px;
        outline: none;
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        color: gray;
        font-size: 16px;
    }
    
    &__block-for-input-title-seats{
        width: 270px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }

    &__title-seats{
        width: 50%;
        height: auto;
        color: gray;
        font-family: sans-serif;
        font-weight: 100;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__block-for-input-seats{
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__input-seats{
        width: 20px;
        height: auto;
        border: none;
        border-bottom: 1px solid #0093D7;
        padding: 0px 0px;
        outline: none;
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        color: gray;
        font-size: 16px;
    }

    &__block-for-buttons{
        width: 100%;
        height: auto;
        padding: 20px 0px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-cancel{
        width: auto;
        height: auto;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #0093D7;
        padding: 13px 20px;
        background: white;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    &__button-create{
        width: auto;
        height: auto;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: white;
        background: #0093D7;
        padding: 13px 18px;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

.panel-edit-setting-object{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 15px 0px;
    background: white;
    animation: blockOpacity 0.3s;

    &__block-for-data-about-section-and-rotate{
        width: 270px;
        height: auto;
        padding: 0px 15px;
    }

    &__panel-rotate-section{
        width: 100%;
        height: auto;
        padding: 10px 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    &__title-rotete{
        width: 20%;
        height: auto;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: "Segoe UI", sans-serif;
        font-size: 17px;
        font-weight: 100;    
        color: gray;
    }

    &__block-for-slider{
        width: 75%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider{
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        height: 2px;
        background: #0093D7;
    }
    
    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 21px;
        border: 1px solid gray;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    &__panel-tool{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: baseline;
        background: rgba(0,0,0,0.03);
        border-top: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button{
        width: 100%;
        height: auto;
        font-family: 'Segoe UI', Ubuntu, sans-serif;
        font-size: 14px;
        font-weight: 100;
        line-height: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        word-spacing: 4px;
        padding: 15px 0px;
        color: rgb(87, 87, 87);
        cursor: pointer;
    }

    &__button:hover{
        color: black;
    }

}

.block-panel-edit-section{
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    height: auto;
    margin: 15px 0px;
    padding: 15px 15px;
    background: white;
    animation: blockOpacity 0.3s;

    &__block-for-input{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input-for-number-object{
        width: 20px;
        display: flex;
        height: auto;
        outline: none;
        border: none;
        border-bottom: 1px solid #0093D7;
        text-align: center;
        color: gray;
        font-size: 16px;
        margin: 5px 0px;
    }

    &__block-for-button-layout-lable{
        width: 100%;
        height: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-layout{
        width: auto;
        height: auto;
        padding: 8px 16px;
        border: 0.5px solid lightgray;
        font-family: "Segor UI", sans-serif;
        font-size: 13.5px;
        font-weight: 100;
        letter-spacing: 0.5px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;  
        color: rgb(100, 100, 100);
        background: rgba(0,0,0,0.04);
        cursor: pointer; 

        &:hover{
            background: white;
        }
    }

    &__button-layout-selected{
        width: auto;
        height: auto;
        padding: 8px 16px;
        border: 0.5px solid lightgray;
        font-family: "Segor UI", sans-serif;
        font-size: 13.5px;
        font-weight: 100;
        letter-spacing: 0.5px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;  
        color: rgb(100, 100, 100);
        box-shadow: inset 0px -3px 0px 0px #0093D7;
        background: white;
        cursor: pointer; 
    }

    &__button-label{
        width: auto;
        height: auto;
        padding: 8px 16px;
        border: 0.5px solid lightgray;
        font-family: "Segor UI", sans-serif;
        font-size: 13.5px;
        font-weight: 100;
        letter-spacing: 0.5px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;  
        color: rgb(100, 100, 100);
        background: rgba(0,0,0,0.04);
        cursor: pointer; 

        &:hover{
            background: white;
        }
    }
    
    &__button-label-selected{
        width: auto;
        height: auto;
        padding: 8px 16px;
        border: 0.5px solid lightgray;
        font-family: "Segor UI", sans-serif;
        font-size: 13.5px;
        font-weight: 100;
        letter-spacing: 0.5px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;  
        color: rgb(100, 100, 100);
        box-shadow: inset 0px -3px 0px 0px #0093D7;
        background: white;
        cursor: pointer; 
    }

    &__block-row-count{
        width: 100%;
        height: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title-row-count{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(100, 100, 100);
        font-weight: 100;
    }

    &__inputR{
        width: 20px;
        border: none;
        border-bottom: 1px solid #0093D7;
        text-align: center;
        outline: none;
        font-size: 14px;
        color: rgb(100, 100, 100);
    }

    &__inputS{
        width: 20px;
        border: none;
        border-bottom: 1px solid #0093D7;
        text-align: center;
        outline: none;
        font-size: 14px;
        color: rgb(100, 100, 100);
    }

    &__total-number{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(100, 100, 100);
        font-weight: 100;
    }

    &__block-icon-align{
        width: auto;
        height: auto;
        font-size: 28px;
    }

    &__block-joist-skew{
        width: 60%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider{
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        height: 2px;
        background: #0093D7;
    }
    
    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 17px;
        height: 18px;
        border: 1px solid gray;
        background: white;
        border-radius: 50%;
        cursor: pointer;
    }

    &__block-for-buttons-cancel-apply{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-cancel{
        width: auto;
        height: auto;
        padding: 11px 20px;
        font-family: "Segoe UI", Ubuntu, sans-serif;
        font-size: 16px;
        font-weight: 500;
        background: white;
        color: #0093D7;
        cursor: pointer;
    }

    &__button-apply{
        width: auto;
        height: auto;
        padding: 11px 20px;
        font-family: "Segoe UI", Ubuntu, sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        background: #0093D7;
        color: white;
        cursor: pointer;
    }
}

.chosen{
    background: #0093D7;
    color: white;
    padding: 5px 7px;
    cursor: pointer;
    font-weight: 100;
}

.not-chosen{
    background: white;
    color: rgb(170, 170, 170);
    padding: 5px 7px;
    cursor: pointer;
    font-weight: 100;
}

.block-panel-edit-chair{
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    height: auto;
    margin: 15px 0px;
    padding: 0px 15px;
    background: white;
    animation: blockOpacity 0.3s;

    &__title{
        width: 100%;
        height: auto;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 100;
        line-height: 1;
        padding: 15px 0px;
        text-align: center;
    }

    &__block-for-input-row-and-title{
        width: 100%;
        height: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title-row{
        width: 50%;
        text-align: start;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: rgb(100, 100, 100);
    }

    &__block-for-input{
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__input{
        width: 20px;
        height: auto;
        border: none;
        border-bottom: 1px solid #0093D7;
        padding: 0px 0px;
        outline: none;
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        color: gray;
        font-size: 16px;
    }

    &__button{
        width: 100%;
        height: auto;
        padding: 15px 0px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 14px;
        color: white;
        text-align: center;
        background: #0093D7;
        border-radius: 4px;
        font-weight: 600;
        margin: 15px 0px;
        cursor: pointer;
    }

    &__block-delete{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Ubuntu, sans-serif;
        font-size: 14px;
        color: #666A73;
        font-weight: 100;
        padding: 10px 0px;
        padding-bottom: 15px;
        cursor: pointer;
    }
}

.fa{
    margin-right: 5px;
}

@keyframes blockOpacity {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}